{% extends "layout.html" %}
{% block content %}
{{session['Shoppingcart']}}



<table class="containter">
    <table class="table table-sm"
    <thead>
    <th>#</th>
    <th>Title</th>
    <th>Price</th>
    <th>Discount</th>
    <th>Total</th>
    <th>Update</th>
    <th>Delete</th>

    </thead>

    <tbody>
    {% for key,product in session['Shoppingcart'].items() %}
    <tr>
    <td>{{ loop.index }}</td>
    <td>{{ product.title }}</td>
    <td> {{product.price}} </td>
    <td></td>
    <td></td>
    <td></td>
        <td></td>
</tr>
    {% endfor %}
</tbody>
</table>


</div>
{% endblock content %}