{% extends "layout.html" %}
{% block content %}

<table class="containter">
    <table class="table table-sm"
    <thead>
    <th>#</th>
    <th>Title</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Discount</th>
    <th>Total</th>


    </thead>

    <tbody>
    {% for key,product in session['Shoppingcart'].items() %}
    {% set discount ='%0.2f' |format((product.discount/100) * product.price|float) %}
    <tr>
    <td>{{ loop.index }}</td>
    <td>{{ product.title }}</td>
    <td> {{product.price}} </td>
    <td>{{ product.quantity }}</td>
    <td> {{ product.discount }}% ({{ discount }})</td>
    {% set subtotal = product.quantity|int * product.price|float  %}

    <td>{{"%0.2f"|format ((subtotal|float) - discount|float)}}</td>

</tr>
    {% endfor %}
    <tr>
        <td></td>
        <td colspan="3"> <h3>TAX: {{ tax }} </h3></td>
        <td colspan="4" > <h3>TOTAL PRICE INCLUDING TAXES: {{ grandtotal }} + ({{notax}}+{{tax}})  </h3></td>
        
    </tr>
</tbody>
</table>


</div>
{% endblock content %}