{% extends "layout.html" %}
{% block content %}

    <img style="max-width:40rem;  class="card-img-top" src="{{url_for('static',filename='profile_pics/'+product.image)}}" alt="Card image cap">
    <div class="card-body">

      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">{{ product.description }}</p>
      <p class="card-text"><small class="text-muted">{{product.price}} {%if product.discount > 0 %} {{product.discount}} % {% endif %}</small></p>

    </div>
<form action="{{url_for('AddCart')}}" method="POST">
    <input type="hidden" name="product_id" value="{{product.id}}">
    <button type="submit" class="btn btn-info" > Add to Cart </button>
    <label for="">Quantity:</label>
    <input type="number" name="quantity" id="" value="1" min="1" max="131313131313">

</form>

{% endblock content %}